*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    margin: 15px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
    border-radius: 8px;
}

/* Estilo para la tarjeta general */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
    margin: auto;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Estilo para la tarjeta de error */
.error-card {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.error-card h2 {
    color: #721c24;
}

.error-card p {
    color: #721c24;
}